body {
    margin: 0;
    background-image: url("../../assets/images/dust_scratches.png");
   }

.navbar1 {
    background-color: #4aaaa5;
    height: 100%;
    color: #ffffff;
    text-decoration: none;
    width: 280px;
    font-size: 33px;
    text-align: center;
    padding: 22px 22px 22px 22px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Exo 2', sans-serif;
   }

h2 {
font-size: 35px;
font-weight: bold;
font-family: 'Exo 2', sans-serif;
color: #4aaaa5;
}

p {
font-size: 15px;
font-family: 'Exo 2', sans-serif;
font-weight: light;
line-height: 35px;
}

.form-group {
font-size: 15px;
font-weight: bold;
color: #777777;
font-family: 'Exo 2', sans-serif;
}

h5 {
font-size: 50px;
font-weight: bold;
font-family: 'Exo 2', sans-serif;
color: white;
}